/* Important stuff */
body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* This class makes sure the element takes the height of it's parent */
.height {
  height: inherit;
  margin: 0px;
  padding: 0px;
}


.menu {
  /* Setting the icon's position to the top right corner */
  position: absolute;
  top: 2em;
  right: 2em;

  color: #202c38;

  /* setting the cursor to a pointer when it's over the menu button. */
  cursor: pointer;

  /* Making sure the icon is 'on top' of all other elemets */
  z-index: 99;
}

.code {
  /* Make the div have the height of the entire page */
  height: 100%;
}

.navbar {
  background-color: #202c38;
  border: none;
  border-radius: 0px;
  position: absolute;
}


.output {
  /* A nice beige background */
  background-color: #FFFAED;
  /* Make the div have the height of the entire page */
  height: 100%;
}

/* =================
    RESPONSIVE CSS
   =================*/
  @media screen and (max-width: 768px) {
    .menu {
      top: 1em;
      right: 1em;
    }
  }
  @media screen and (max-width: 1200px) {
    .notDisplayed {
      display: none;
    }
  }


  /* =================
      stops the navbar from collapsing
      (code from the internet, probably just 1% needed)
     =================*/
  @media (max-width: 768px) {
      .navbar {
          border-radius: 4px;
          min-width: 400px;
      }

      .nav-justified > li {
          display: table-cell;
          width: 1%;
      }
      .nav-justified > li > a {
          margin-bottom: 0;
      }

      .container {
          min-width: 400px;
      }

      .navbar-static-top {
          border-radius: 0;
      }

      .navbar-fixed-bottom {
          border-radius: 0;
      }

      .navbar-nav {
          float: left;
          margin: 0;
      }
      .navbar-nav > li {
          float: left;
      }
      .navbar-nav > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
      }
      .navbar-nav.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-left {
          float: left !important;
      }
      .navbar-right {
          float: right !important;
      }

      .navbar-form.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-text.navbar-right:last-child {
          margin-right: 0;
      }
  }
