/* Important stuff */
body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* This class makes sure the element takes the height of it's parent */
.height {
  height: inherit;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.navbar {
  background-color: #202c38;
  border: none;
  border-radius: 0px;
  position: absolute;
}

.menu {
  font-size: 1.5em;
}

.code {
  /* Make the div have the height of the entire page */
  height: 100%;
}

.output {
  /* A nice beige background */
  background-color: #FFFAED;
  /* Make the div have the height of the entire page */
  height: 100%;
}






/* =================
    SIDEBAR CSS
   =================*/
#wrapper {
  padding-top: 50px;
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 50px;
  left: 250px;
  width: 250px;
  background: #202c38;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}


@media (max-width:560px) {

  #wrapper {
    padding-left: 0px;
  }

  #sidebar-wrapper {
    left: 250px;
  }

  #wrapper.active {
    position: relative;
    left: 0px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 0px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}





/* =================
    RESPONSIVE CSS
   =================*/
  @media screen and (max-width: 768px) {
    .height {
      position: static;
    }
  }
  @media screen and (max-width: 1200px) {
    .notDisplayed {
      display: none;
    }
  }




  /* =================
      stops the navbar from collapsing
     =================*/
  @media (max-width: 768px) {
      .navbar {
          border-radius: 0px;
          min-width: 400px;
      }

      .nav-justified > li {
          display: table-cell;
          width: 1%;
      }
      .nav-justified > li > a {
          margin-bottom: 0;
      }

      .container {
          min-width: 400px;
      }

      .navbar-static-top {
          border-radius: 0;
      }

      .navbar-fixed-bottom {
          border-radius: 0;
      }

      .navbar-nav {
          float: left;
          margin: 0;
      }
      .navbar-nav > li {
          float: left;
      }
      .navbar-nav > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
      }
      .navbar-nav.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-left {
          float: left !important;
      }
      .navbar-right {
          float: right !important;
      }

      .navbar-form.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-text.navbar-right:last-child {
          margin-right: 0;
      }
  }
