/* Important stuff */
body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* This class makes sure the element takes the height of it's parent */
.height {
  height: inherit;
  margin: 0px;
  padding: 0px;
}

.menu {
  /* Setting the icon's position to the top right corner */
  position: absolute;
  top: 2em;
  right: 2em;

  color: #202c38;

  /* setting the cursor to a pointer when it's over the menu button. */
  cursor: pointer;

  /* Making sure the icon is 'on top' of all other elemets */
  z-index: 9999;
}
.menu .close-button{
  color: #2c3e50;
}

.code {
  /* Make the div have the height of the entire page */
  height: 100%;
}

.navbar {
  background-color: #202c38;
  border: none;
  border-radius: 0px;
  position: absolute;
}

.output {
  /* A nice beige background */
  background-color: #FFFAED;
  /* Make the div have the height of the entire page */
  height: 100%;
}

#sidebar-wrapper nav {
  padding-top: 4.5em;
}



#wrapper {
  padding-right: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-right: -250px;
  top: 0px;
  right: 250px;
  width: 250px;
  background: #202c38;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-right: 0;
}

#wrapper.active #sidebar-wrapper {
  right: 0;
}


@media (max-width:767px) {
  #sidebar-wrapper nav {
    padding-top: 3.5em;
  }

  #wrapper {
    padding-right: 100%;
  }

  #sidebar-wrapper {
    right: 250px;
    width: 100%;
  }

  #wrapper.active {
    position: relative;
    right: 0px;
  }

  #wrapper.active #sidebar-wrapper {
    right: 0px;
    width: 0px;
    transition: all 0.4s ease 0s;
  }
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    color: #999999;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}


/* =================
    RESPONSIVE CSS
   =================*/
  @media screen and (max-width: 768px) {
    .menu {
      top: 1em;
      right: 1em;
    }
  }
  @media screen and (max-width: 1200px) {
    .notDisplayed {
      display: none;
    }
  }

  /* =================
      stops the navbar from collapsing
     =================*/
  @media (max-width: 768px) {
      .navbar {
          border-radius: 4px;
          min-width: 400px;
      }

      .nav-justified > li {
          display: table-cell;
          width: 1%;
      }
      .nav-justified > li > a {
          margin-bottom: 0;
      }

      .container {
          min-width: 400px;
      }

      .navbar-static-top {
          border-radius: 0;
      }

      .navbar-fixed-bottom {
          border-radius: 0;
      }

      .navbar-nav {
          float: left;
          margin: 0;
      }
      .navbar-nav > li {
          float: left;
      }
      .navbar-nav > li > a {
          padding-top: 15px;
          padding-bottom: 15px;
      }
      .navbar-nav.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-left {
          float: left !important;
      }
      .navbar-right {
          float: right !important;
      }

      .navbar-form.navbar-right:last-child {
          margin-right: -15px;
      }

      .navbar-text.navbar-right:last-child {
          margin-right: 0;
      }
  }
